*{
    margin: 0;
}

body{
    background-image: url("/static/login/img/blur_login.png");
}

.myinputform{
    height: 125%;
}

.mycardlogin{
    margin: 150px;
    width: 40%;
    padding: 0 20px;
}

.mycardsignup{
    margin: 60px;
    width: 50%;
    padding: 0 20px;
}

.card-footer .d-grid small {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.card-footer .d-grid small a {
    text-decoration: none;
    margin-left: 0.5rem; /* Ajusta el margen según sea necesario */
    color: #219fd9;
}

.card-footer .d-grid small a:hover {
    color: rgb(26, 139, 192);
}


.iti {
    position: relative;
    display: flex;
}

@media (max-width: 768px) {
    .mycardlogin {
        margin: 200px;
        width: 80%;
    }

    .mycardsignup{
        margin: 30px;
        width: 100%;
        padding: 0 25px;
    }
}