{% extends 'core/base.html' %}

{% block title %}Accesorios{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
<link rel="stylesheet" href="{% static 'core/css/category.css' %}">
<link rel="stylesheet" href="{% static 'core/css/catalogo.css' %}">
{% endblock %}

{% block navbar_script %}

<script src="{% static 'core/js/navscript.js' %}"></script>

<script>
    const backgroundImageUrl = "{% static 'core/img/navbar5.png' %}";
    setNavbarBackgroundOnScroll(backgroundImageUrl);
</script>
{% endblock %}

{% block first_content %}
<div class="banner">
    <img src="{% static 'core/img/accesorios_bg.png' %}" alt="">
</div>

 <!-- CATEGORIAS -->
 <div class="categories">
    <div class="category">
        <a href="{% url 'catalogo' %}">
            <img src="{% static 'core/img/categorias/catalogo.png' %}" alt="Catálogo">
            <h4 class="category-title">Catálogo</h4>
        </a>
    </div>
    <div class="category">
        <a href="{% url 'accesorios' %}">
            <img src="{% static 'core/img/categorias/accesorios.png' %}" alt="Accesorios">
            <h4 class="category-title">Accesorios</h4>
        </a>
    </div>
    <div class="category">
        <a href="{% url 'kits' %}">
            <img src="{% static 'core/img/categorias/kits.png' %}" alt="Kits">
            <h4 class="category-title">Kits</h4>
        </a>
    </div>
</div>


<!-- PRODUCTOS -->
<div class="container-fluid p-0 contenedor">
    <h1 class="ms-4 mt-4 p-4">Accesorios</h1>
    {% if productos %}
    <div id="myproducts" class="container p-4">
        <div class="all-products">

            <div class="row row-cols-1 row-cols-md-4 gy-3  mx-auto justify-content-center justify-content-md-start">

                {% for f in productos %}
                <div class="product m-2" data-id="{{ f.id }}">
                    {% if f.image %}
                    <img src="{{f.image.url}}">
                    <div class="product-info">
                        {% endif %}
                        <h4 class="product-title">{{f.product}}</h4>
                        <p class="product-price">{{ f.price|floatformat:0|intcomma }}</p>
                    </div>
                    <div class="button-container">
                        <a class="product-btn" href="{% url 'producto' id=f.id %}">Ver Detalles</a>
                        <i class="deseos fa-regular fa-heart add-to-wishlist"></i>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="container pb-5 ms-5">
        <h5>No hay productos disponibles</h5>
    </div>
    {% endif %}
</div>


{% endblock %}

{% block my_js %}
<script src="{% static 'core/js/catalogo.js' %}"></script>
<script type="module" src="{% static 'core/js/addwish.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtener todos los elementos con la clase .deseos
        const deseosElements = document.querySelectorAll('.deseos');

        deseosElements.forEach(deseos => {
            deseos.addEventListener('click', function () {
                let heart = this;
                let heartRect = heart.getBoundingClientRect();

                // Crear y clonar el corazón
                let heartClone = heart.cloneNode(true);
                heartClone.style.position = 'absolute';
                heartClone.style.left = `${heartRect.left + window.scrollX}px`;
                heartClone.style.top = `${heartRect.top + window.scrollY}px`;
                heartClone.style.width = `${heartRect.width}px`;
                heartClone.style.height = `${heartRect.height}px`;
                heartClone.style.zIndex = '1000';
                heartClone.style.transition = 'transform 1s, opacity 1s';

                document.body.appendChild(heartClone);

                // Obtener la posición del corazón en la barra de navegación
                let navbarHeart;
                if (window.matchMedia("(max-width: 768px)").matches) {
                    // Modo móvil
                    navbarHeart = document.querySelector('.dropdown_menu .icon-cart');
                } else {
                    // Modo escritorio
                    navbarHeart = document.querySelector('.icon-navbar');
                }

                let navbarRect = navbarHeart.getBoundingClientRect();

                // Calcular el desplazamiento
                let translateX = navbarRect.left + window.scrollX + (navbarRect.width / 2) - (heartRect.left + window.scrollX) - (heartRect.width / 2);
                let translateY = navbarRect.top + window.scrollY + (navbarRect.height / 2) - (heartRect.top + window.scrollY) - (heartRect.height / 2);
                // Aplicar estilos para la animación
                requestAnimationFrame(() => {
                    heartClone.style.transform = `translate(${translateX}px, ${translateY}px)`;
                    heartClone.style.opacity = '0';
                });

                heartClone.addEventListener('transitionend', function () {
                    heartClone.remove();
                    // Aquí puedes agregar cualquier lógica adicional después de la animación
                });
            });
        });
    });
</script>
{% endblock %}