<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    {% block extra_css %}{% endblock %}
    
    <title>{% block title %}{% endblock %} Home</title>
</head>

<body>
    <!-- <nav>
        {% include 'core/navbar.html' %}
    </nav> -->
    <main>
        {% block first_content %}{% endblock %}

        {% block second_content %}{% endblock %}
    </main>
    {% block my_js %}{% endblock %}
</body>
</html>


