<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} </title>

    {% load static %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="{%static 'core/css/navstyle.css' %}" />

</head>


<body>

    <nav>
        {% include 'core/navbar.html' %}
    </nav>

    {% block navbar_script %}
    {% endblock %}
    
    <main>
        {% block first_content %}{% endblock %}

        {% block second_content %}{% endblock %}
    </main>

    {% block my_js %}{% endblock %}
</body>

</html>