
{% load static %}

<div id="cardsbody">
    <div class="mycontainer swiper">
        <h2 class="title">Destacados</h2>
        <div class="slide-container">
            <div class="mycard-wrapper swiper-wrapper">
                {% if productos %}
                {% for p in productos %}
                <div class="mycard swiper-slide">
                    <a href="{% url 'producto' id=p.id %}">
                        <div class="image-box">
                            {% if p.image %}
                            <img src="{{p.image.url}}" alt="" />
                            {% endif %}
                        </div>
                        <div class="card-details">
                            <div class="name-job">
                                <h3 class="name">{{p.product}}</h3>
                                <h4 class="description" data-price="{{ p.price }}>{{ p.price}}</h4>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

{% block my_js %}
<script src="{% static 'core/js/swiper.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
            // Selecciona todos los elementos que tienen la clase 'product-price'
            const priceElements = document.querySelectorAll('.product-price');

            // Itera sobre cada elemento y aplica el formato
            priceElements.forEach(function (element) {
                // Obtén el precio del atributo data-price y conviértelo en número
                const price = parseFloat(element.getAttribute('data-price'));

                // Formatea el precio usando Intl.NumberFormat
                const formattedPrice = new Intl.NumberFormat('es-CL', {
                    style: 'currency',
                    currency: 'CLP',
                    minimumFractionDigits: 0
                }).format(price);

                // Actualiza el contenido del elemento con el precio formateado
                element.textContent = formattedPrice;
            });
        });
</script>
{% endblock %}