{% extends 'core/base.html' %}

{% block title %}Catálogo{% endblock %}


{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
<link rel="stylesheet" href="{% static 'core/css/category.css' %}">
<link rel="stylesheet" href="{% static 'core/css/catalogo.css' %}">
{% endblock %}

{% block navbar_script %}

<script src="{% static 'core/js/navscript.js' %}"></script>

<script>
    const backgroundImageUrl = "{% static 'core/img/navbar2.jpg' %}";
    setNavbarBackgroundOnScroll(backgroundImageUrl);
</script>
{% endblock %}

{% block first_content %}
<div class="banner  position-relative">
    {% if messages %}
    <div class="alert {{ request.session.level_mensaje }} alert-dismissible floating-alert" role="alert">
        <ul>
            {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </ul>
    </div>
    {% endif %}
    <img src="{% static 'core/img/camera.jpg' %}" alt="">
</div>

<!-- CATEGORIAS -->
<div class="categories">
    <div class="category">
        <a href="{% url 'catalogo' %}">
            <img src="{% static 'core/img/categorias/catalogo.png' %}" alt="Catálogo">
            <h4 class="category-title">Catálogo</h4>
        </a>
    </div>
    <div class="category">
        <a href="{% url 'accesorios' %}">
            <img src="{% static 'core/img/categorias/accesorios.png' %}" alt="Accesorios">
            <h4 class="category-title">Accesorios</h4>
        </a>
    </div>
    <div class="category">
        <a href="{% url 'kits' %}">
            <img src="{% static 'core/img/categorias/kits.png' %}" alt="Kits">
            <h4 class="category-title">Kits</h4>
        </a>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="row row-cols-1 row-cols-md-2 m-0">
        <div id="myFilters" class="col-md-3">
            <!-- FILTROS -->
            <div id="filters" class="p-3">
                <h3 class="filter-title">Filters</h3>
                <div class="row">
                    <div class="col-12">
                        <!-- Número de cámaras -->
                        <div class="filter-group">
                            <h3 class="filter-group-title">Número de cámaras</h3>
                            <p class="text-white"> Click abajo para ver las opciones disponibles</p>
                            <div class="row">
                                <div class="col-12">
                                    {% if filtro_camara %}
                                    <select id="camera-filter" name="cameras" class="form-select myselect" multiple>
                                        {% for f in filtro_camara %}
                                        {% if f is not None %}
                                        <option value="{{ f }}" {% if f in selected_channels %}selected{% elif
                                            forloop.first %}selected{% endif %}>{{ f }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% else %}
                                    <p class="my-2">No hay filtros disponibles</p>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12">
                        <!-- Número de canales -->
                        <div class="filter-group">
                            <h3 class="filter-group-title">Número de canales</h3>
                            <p class="text-white"> Click abajo para ver las opciones disponibles</p>
                            <div class="row">
                                <div class="col-12">
                                    {% if filtro_canal %}
                                    <select id="channel-filter" name="channels" class="form-select myselect" multiple>
                                        {% for f in filtro_canal %}
                                        {% if f is not None %}
                                        <option value="{{ f }}" {% if f in selected_channels %}selected{% elif
                                            forloop.first %}selected{% endif %}>{{ f }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% else %}
                                    <p class="my-2">No hay filtros disponibles</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Añadir botón para aplicar filtros -->
            <div class="apply-filters">
                <button id="apply-filters-btn" class="product-btn ms-3 mx-2 mt-1 mb-4">Aplicar Filtros</button>
            </div>


        </div>



        <div class="col-md-9 p-0 contenedor" >
            <!-- PRODUCTOS -->
            <div id="myproducts" class="container p-4">
                <div class="all-products">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 gy-3 justify-content-center justify-content-md-start">
                        {% if filtered_cameras %}
                        {% for p in filtered_cameras %}
                        <div class="col">
                            <div class="card product p-3" data-id="{{ p.id }}">
                                {% if p.image %}
                                <img src="{{p.image.url}}" class="card-img-top">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{p.product}}</h5>
                                    <p class="card-text product-price" data-price="{{ p.price }}">{{ p.price}}</p>
                                    <div class="d-flex justify-content-between align-items-center button-container">
                                        <a class="btn product-btn" href="{% url 'producto' id=p.id %}">Ver Detalles</a>
                                        <i class="deseos fa-regular fa-heart add-to-wishlist"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        {% for f in productos %}
                        <div class="col">
                            <div class="card product p-3" data-id="{{ f.id }}">
                                {% if f.image %}
                                <img src="{{f.image.url}}" class="card-img-top img-fluid">
                                <div class="card-body">
                                    {% endif %}
                                    <h5 class="card-title">{{f.product}}</h5>
                                    <p class="card-text product-price" data-price="{{ f.price }}">{{ f.price}}</p>
                                    
                                </div>
                                <div class="d-flex justify-content-between align-items-center button-container">
                                    <a class="btn product-btn" href="{% url 'producto' id=f.id %}">Ver Detalles</a>
                                    <i class="deseos fa-regular fa-heart add-to-wishlist"></i>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block my_js %}
    <script src="{% static 'core/js/catalogo.js' %}"></script>
    <script type="module" src="{% static 'core/js/addwish.js' %}"></script>
    {% endblock %}