<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | ServitelWeb </title>

{% load static %}



<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{%static 'core/css/navstyle.css' %}">
    <link rel="stylesheet" href="{%static 'core/css/product.css' %}">
    <link rel="stylesheet" href="{%static 'core/css/resumewish.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>

<body>
    <nav>
        {% include 'core/navbar.html' %}
    </nav>

    <script>
        const backgroundImageUrl = "{% static 'core/img/navbar2.jpg' %}";
        const navbarElement = document.querySelector('.myNavbar');
        navbarElement.style.backgroundImage = `url(${backgroundImageUrl})`;
    </script>

    <div class="formulario mx-auto">
        <form id="formulario" class="row g-2 p-5 custom-validation" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Contáctanos</h3>
            <div class="row mt-3">
                <div class="col-6">
                    <label for="idNombre" class="form-label">Nombre</label>
                    {{form.name}}
                    <small id="error_nombre_min" class="text-danger">Debes ingresar tu nombre</small>
                    <small id="error_nombre_max" class="text-danger">El nombre excede el largo máximo permitido</small>
                </div>
                <div class="col-6">
                    <label for="idApellido" class="form-label">Apellidos</label>
                    {{form.last_name}}
                    <small id="error_apellido_min" class="text-danger">Debes ingresar tu apellido</small>
                    <small id="error_apellido_max" class="text-danger">El apellido excede el largo máximo permitido</small>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <label for="idFono" class="form-label">Teléfono</label>
                    <div class="">
                        <input type="hidden" id="prefijo-hidden" name="prefijo_telefono" value="+" /> <!-- Campo oculto para almacenar el prefijo -->
                        {{form.phone_number}}
                        <small id="error_fono" class="text-danger">Debes ingresar un teléfono para contactarte</small>
                    </div>
                </div>
                <div class="col-6">
                    <label for="idFecha_nac" class="form-label">Fecha nacimiento</label>
                    <div class="input-group">
                        {{form.birthday}}
                    </div>
                    <small id="error_nacimiento" class="text-danger">Debes ingresar fecha de nacimiento</small>
                    <small id="error_fecha" class="text-danger">Debes ingresar fecha válida</small>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <label for="genero-select" class="form-label">{{ form.gender.label }}</label>
                    {{ form.gender }}
                </div>
                <div class="col-6">
                    <label for="comuna-select" class="form-label">Comuna</label>
                    {{form.comuna}}
                    <small id="error_comuna" class="text-danger">Debes ingresar una comuna</small>
                </div>
                <div class="row mx-auto">
                    <div class="col-12 product-table ">
                        <h4 class="pt-3 pb-3 ps-3 table-titulo" >Productos en la lista de deseos</h4>
                        <div id="wishlist-products" class="listCart">
                            <!-- Aquí se mostrarán los productos de la lista de deseos -->
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="wishlist" id="wishlist">
            <div class="col-12 my-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        No soy un robot
                    </label>
                </div>
                <small id="error_checkbox" class="text-danger" >Debes chequear la casilla</small>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>


    <script src="{% static 'core/js/formulario.js' %}"></script>
    <script type="module" src="{% static 'core/js/contacto.js' %}"></script>
</body>

</html>