{% extends 'core/base.html' %}

{% block title %}Inicio{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'core/css/cardstyle.css' %}" />
<link rel="stylesheet" href="{% static 'core/css/index.css' %}" />
<link rel="stylesheet" href="{% static 'core/css/category.css' %}" />
{% endblock %}

{% block navbar_script %}



<script>
    const backgroundImageUrl = "{% static 'core/img/navbar.jpg' %}";
    setNavbarBackgroundOnScroll(backgroundImageUrl);
</script>
{% endblock %}

{% block first_content %}

<div class="indexBody">
    <div class="banner  position-relative">
        {% if messages %}
        <div class="alert {{ request.session.level_mensaje }} alert-dismissible floating-alert" role="alert">
            <ul>
                {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </ul>
        </div>
        {% endif %}
        <img src="{% static 'core/img/carrusel_bg.jpg' %}" alt="">
    </div>

    {% include 'core/cards.html' %}

    <!-- CATEGORIAS -->
    <div class="categories">
        <div class="category">
            <a href="{% url 'catalogo' %}">
                <img src="{% static 'core/img/categorias/catalogo.png' %}" alt="Categoría 1">
                <h4 class="category-title">Catálogo</h4>
            </a>
        </div>
        <div class="category">
            <a href="">
                <img src="{% static 'core/img/categorias/accesorios.png' %}" alt="Categoría 2">
                <h4 class="category-title">Accesorios</h4>
            </a>
        </div>
        <div class="category">
            <a href="">
                <img src="{% static 'core/img/categorias/kits.png' %}" alt="Categoría 2">
                <h4 class="category-title">Kits</h4>
            </a>
        </div>
    </div>
</div>
{% endblock %}


{% block my_js %}
<script src="{% static 'core/js/index.js' %}"></script>
{% endblock %}