{% load static %}

<header id="navbarbody">
    <div class="myNavbar">
        <div class="logo"> <a href="{% url 'index' %}"><img class="logo" src="{%static 'core/img/logo_icon.png' %}" alt="">Servitel</a>
        </div>
        <ul class="links">
            <li><a href="{% url 'catalogo' %}">Cátalogo</a></li>
            <li><a href="">Accesorios</a></li>
            <li><a href="">Kits</a></li>
            <li><a href="">Nosotros</a></li>
            <div class="items">
                {% if request.session.usuario %}
                    {% if request.session.usuario.rol == 'ADMIN' %}
                    <a class="nav-link" href="{% url 'product-list' %}">Vista admin</a>
                    {% endif %}
                    {% if request.session.usuario.rol == 'USER' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false"> <i class="fa-solid fa-user"></i>
                            {{request.session.usuario.first_name}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'add-product' %}">Editar datos</a></li>
                            <li><a href="/accounts/logout" class="dropdown-item">Cerrar sesión</a></li>
                        </ul>
                    </li>
                    {% endif %}
                {% else %}
                    <a href="/accounts/login" class="action_btn"><i class="fa-solid fa-user"></i></a>
                {% endif %}
                <a href="#" class="action_btn"><i class="fa-solid fa-magnifying-glass"></i></a>
                <div class="action_btn icon-cart"><i class="fa-solid fa-heart"></i><span>0</span></div>
            </div>
        </ul>

        <div class="toggle_btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>

    <div class="dropdown_menu">
        <li><a href="{% url 'catalogo' %}">Catálogo</a></li>
        <li><a href="">Accesorios</a></li>
        <li><a href="">Kits</a></li>
        <li><a href="">Nosotros</a></li>
        <div class="items">
            {% if request.session.usuario.rol == 'ADMIN' %}
            <a class="nav-link " href="">Vista admin</a>
            {% endif %}
            {% if request.session.usuario %}
            <a href="/accounts/logout" class="action_btn"><i class="fa-solid fa-user"></i> </a>
            {% else %}
            <a href="/accounts/login" class="action_btn"><i class="fa-solid fa-user"></i></a>
            {% endif %}

            <a href="#" class="action_btn"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="#" class="action_btn"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
</header>


<script>
    const toggleBtn = document.querySelector('.toggle_btn');
    const toggleBtnIcon = document.querySelector('.toggle_btn i');
    const dropdownMenu = document.querySelector('.dropdown_menu');

    toggleBtn.onclick = function () {
        dropdownMenu.classList.toggle('open')
        const isOpen = dropdownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'
    };

</script>
