{% extends 'core/base.html' %}

{% block title %}PRODUCTO{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css" />


<link rel="stylesheet" href="{%static 'core/css/product.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
{% endblock %}

{% block navbar_script %}
<script>
    const backgroundImageUrl = "{% static 'core/img/navbar2.jpg' %}";
    const navbarElement = document.querySelector('.myNavbar');
    navbarElement.style.backgroundImage = `url(${backgroundImageUrl})`;
</script>
{% endblock %}

{% block first_content %}
<div class="formulario editar-perfil mx-auto">
    {% if messages %}
    <div class="alert {{ request.session.level_mensaje }} alert-dismissible" role="alert">
        <ul>
            {% for message in messages %}
            <li><strong>{{message}}</strong></li>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </ul>
    </div>
    {% endif %}

    <form id="formulario" class="row g-2 p-md-5 mx-auto" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Contáctanos</h3>
        <div class="row mt-3">
            <div class="col-12 col-md-6">
                <label for="idNombre" class="form-label">Nombre{% if request.session.usuario.rol == 'ADMIN' %}*{% endif %}</label>
                {{form.name}}

            </div>
            <div class="mt-3 mt-md-0 col-12 col-md-6">
                <label for="idApellido" class="form-label">Apellidos</label>
                {{form.last_name}}

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-6">
                <label for="idFono" class="form-label">Teléfono</label>
                <div class="">
                    <input type="hidden" id="prefijo-hidden" name="prefijo_telefono" value="+" />
                    <!-- Campo oculto para almacenar el prefijo -->
                    {{form.phone_number}}

                </div>
            </div>
            <div class="mt-3 mt-md-0 col-12 col-md-6">
                <label for="idFecha_nac" class="form-label">Fecha nacimiento</label>
                <div class="input-group">
                    {{form.birthday}}
                </div>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-6">
                <label for="genero-select" class="form-label">{{ form.gender.label }}</label>
                {{ form.gender }}
            </div>
            <div class="mt-3 mt-md-0 col-12 col-md-6">
                <label for="comuna-select" class="form-label">Comuna</label>
                {{form.comuna}}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <label for="idCorreo" class="form-label">{{ form.email.label }}</label>
                {{ form.email }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mt-3">
                <label for="password" class="form-label ">Contraseña</label>
                {{ form.password }}
                <ul class="fst-italic fs-8 mt-2">
                    <li>La contraseña debe tener al entre 8 y 16 caracteres</li>
                    <li>Al menos un dígito</li>
                    <li>Al menos una minúscula y al menos una mayúscula</li>
                    <li>NO puede tener otros símbolos.</li>
                </ul>
            </div>

            <div class="col-lg-6 mt-3">
                <label for="password_confirm" class="form-label">Repetir contraseña</label>
                <input class="form-control" type="password" name="password_confirm" id="password_confirm">
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-2">
            <a class="btn btn-light col-md-3" href="{% url 'order-list' %}">Volver</a>
            <button type="submit" class="btn btn-enviar col-md-3">Enviar</button>
        </div>
        
        
    </form>
</div>
{% endblock %}