{% extends 'core/base.html' %}

{% block title %}PRODUCTO{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css" />


<link rel="stylesheet" href="{%static 'core/css/product.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
{% endblock %}

{% block navbar_script %}
<script>
    const backgroundImageUrl = "{% static 'core/img/navbar2.jpg' %}";
    const navbarElement = document.querySelector('.myNavbar');
    navbarElement.style.backgroundImage = `url(${backgroundImageUrl})`;
</script>
{% endblock %}

{% block first_content %}

<div class="product-detail">
    <div class="product container-fluid " data-id="{{ producto.id }}">
        <div class="row row-cols-1 row-cols-md-2 mx-auto justify-content-center px-0">
            <div class="col-md-7">
                {% if producto.image %}
                <div class=" row row-cols-1 row-cols-md-2">
                    <div class="col-12 col-lg-3  thumbnails">
                        <div class="row row-cols-3 row-cols-lg-1 ">
                            <div class="col">
                                <img class="img-fluid thumbnail-image" src="{{producto.image.url}}">
                            </div>
                            <div class="col">
                                <img class="img-fluid thumbnail-image" src="{{producto.image.url}}">
                            </div>
                            <div class="col">
                                <img class="img-fluid thumbnail-image  mb-0" src="{{producto.image.url}}">
                            </div>
                        </div>


                    </div>
                    <img class=" col img-fluid product-image " src="{{producto.image.url}}">
                </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="product-info">
                    <h4 class="product-title">{{producto.product}}</h4>
                    <p class="product-description">{{producto.description}}</p>
                    <h5>Cantidad:</h5>
                    <form id="order-form" method="post" action="{% url 'new-order' id=producto.id %}">
                        {% csrf_token %}
                        <div class="row  buttons d-flex align-items-center">
                            <div class="cantidad col-6 col-md-4 p-0">
                                <span id="menos-cantidad">-</span>
                                <label id="cantidad-valor-label">1</label>
                                <input type="hidden" id="cantidad-valor" name="quantity" value="1" min="1"
                                    class="form-control">
                                <span id="mas-cantidad" class="me-0">+</span>
                            </div>
                            <div class="col-2 p-0 ">
                                <i class="fa-solid fa-heart deseos add-to-wishlist"></i>
                            </div>
                        </div>

                        <div class="product-actions">
                            {% if not request.session.usuario %}
                            <a href="#formulario" class="comprar">Contáctanos</a>
                            {% else %}
                            <button type="button" id="orderBtn" class="comprar">Solicitar</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% if not request.session.usuario %}
<!-- producto.html -->
{% if messages %}
<div class="alert {{ request.session.level_mensaje }} alert-dismissible" role="alert">
    <ul>
        {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </ul>
</div>
{% endif %}
<div class="formulario mx-auto">
    <form id="formulario" class="row g-2 p-md-5 custom-validation" action="" method="post"
        enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Contáctanos</h3>
        <div class="">
            <div class="row">
                <div class="col-lg-6 mt-3">
                    <label for="name" class="form-label">Nombre</label>
                    {{ user_form.name }}
                    <small class="text-danger" id="error_nombre_min">Debes ingresar tu nombre</small>
                    <small class="text-danger" id="error_nombre_max">El nombre excede el largo máximo permitido</small>
                </div>
                <div class="col-lg-6 mt-3">
                    <label for="idApellido" class="form-label">Apellidos</label>
                    {{user_form.last_name}}
                    <small class="text-danger" id="error_apellido_min">Debes ingresar tu apellido</small>
                    <small class="text-danger" id="error_apellido_max">El apellido excede el largo máximo
                        permitido</small>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-3">
                    <label for="idFono" class="form-label">Teléfono</label>
                    <div class="">
                        <input type="hidden" id="prefijo-hidden" name="prefijo_telefono" />
                        {{user_form.phone_number}}
                        {{user_form.formatted_phone_number}} <!-- Campo oculto -->
                        <small class="text-danger" id="error_fono">Debes ingresar un teléfono para contactarte</small>
                    </div>
                </div>
                <div class="col-lg-6 mt-3">
                    <label for="idFecha_nac" class="form-label">Fecha nacimiento</label>
                    <div class="input-group">
                        {{user_form.birthday}}
                    </div>
                    <small class="text-danger" id="error_nacimiento">Debes ingresar fecha válida</small>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 mt-3">
                    <label for="idCorreo" class="form-label">Email</label>
                    {{user_form.email}}
                    <small class="text-danger" id="error_email">Debes ingresar un email válido</small>
                </div>
                <div class="col-lg-6 mt-3">
                    <label for="genero-select" class="form-label">{{ user_form.gender.label }}</label>
                    {{ user_form.gender }}
                </div>
                <div class="col-lg-6 col-md-12 mt-3">
                    <label for="comuna-select" class="form-label">Comuna</label>
                    {{user_form.comuna}}
                    <small class="text-danger" id="error_comuna">Debes ingresar una comuna</small>
                </div>
                <div class="col-lg-4 col-md-12 mt-3">
                    <label for="product-select" class="form-label">Producto</label>
                    <select class='form-select' disabled id="product-select">
                        <option value="{{ producto.id }}" selected> {{ producto.product }} </option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-12 mt-3">
                    <label for="cantidad-seleccionada" class="form-label">Cantidad</label>
                    {{ orderdetail_form.quantity }}
                </div>
            </div>
        </div>
        <h3 class="mt-4">Crea tu cuenta</h3>
        <div class="row">
            <div class="col-lg-6 mt-3">
                <label for="idContraseña" class="form-label">Contraseña</label>
                {{ user_form.password }}
                <ul class="fst-italic fs-8 mt-2">
                    <li>La contraseña debe tener entre 8 y 16 caracteres</li>
                    <li>Al menos un dígito</li>
                    <li>Al menos una minúscula y al menos una mayúscula</li>
                    <li>NO puede tener otros símbolos.</li>
                </ul>
                <small class="text-danger" id="error_password">No cumple el formato requerido</small>
            </div>
            <div class="col-lg-6 mt-3">
                <label for="password_confirm" class="form-label">Repetir contraseña</label>
                <input class="form-control" type="password" name="password_confirm" id="password_confirm">
                <small class="text-danger" id="error_confirm_password">Las contraseñas no coinciden</small>
            </div>
        </div>
        <div class="col-12 my-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    No soy un robot
                </label>
            </div>
            <small class="text-danger">Debes chequear la casilla</small>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-enviar">Enviar</button>
        </div>

    </form>
</div>
{% endif %}
{% endblock %}

{% block my_js %}
<script type="module" src="{% static 'core/js/producto.js' %}"></script>
<script src="{% static 'core/js/formulario.js' %}"></script>
{% endblock %}