@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

.mycatalogo {
    display: flex;
    flex-wrap: wrap;

}




.filter-title {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: #e3e3e3;
}

.filter-group {
    margin-top: 15px;
    height: 100%;
}

.filter-group-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #e3e3e3;
}

.filter-group-toggle {
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.filter-options {
    list-style: none;
    padding: 0 15px;
    margin: 0;
    display: none;
}

.filter-options li {
    margin-top: 8px;
}

.filter-options label {
    display: inline-block;
}


.filter-group.active .filter-options {
    display: inline-block;
}

.contenedor{
    background: #d5d5d5;
}

#myFilters{
    background-color: #1c5569;
}


#myproducts {
    font-family: 'Merriweather Sans', sans-serif;
    box-sizing: border-box;
    min-height: 282px;
}

.product {
    overflow: hidden;
    background: #ffffff;
    color: #21201e;
    text-align: center;
    padding: 2px;
    border-radius: 1.2rem;
    transition: all 0.3s;
}

.accesorios{
    max-width: 245px;
}

.product-title, .product-price {
    font-size: 1rem;
}

.product:hover {
    transform: scale(1.02);
}

.product:hover {
    box-shadow: 4px 10px 20px #202020;
}

.product img {
    transition: all 0.3s;
    border-radius: 20px;
}

.product a:link,
.product a:visited {
    color: #ececec;
    display: inline-block;
    text-decoration: none;
    background-color: #0e0e0e;
    padding: 1.2rem 2.5rem;
    border-radius: 1rem;
    margin-top: 0;
    white-space: nowrap;
    font-size: 12px;
    transition: all 0.2s;
}

.product .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.deseos {
    color: white;
    background-color: #0e0e0e;
    padding: 1.25rem 0.85rem;
    border-radius: 1rem;
}

button.product-btn {
    
    color: white;
    background-color: #26738f;
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    border-style: none;
}

.product .button-container i {
    font-size: 15px;
}

.product a:hover,
.button-container i:hover, button.product-btn:hover {
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .select-wrapper .select-items:empty::before {
        content: "No hay opciones seleccionadas";
        color: #999;
        display: block;
    }
}


