.banner {
    position: relative;
    height: fit-content;
    background-image: url('/static/core/img/carrusel_bg.jpg');
    background-size: cover;
    background-position: center;
}

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* 
@media (min-width: 1200px) {
    .banner {
        max-height: fit-content;
    }
}

@media (max-width: 992px) {
    .banner{
        height: 500px;
    }
}
/* Media query for medium screen size */
/* @media (max-width: 768px) {
    .banner{
        height: 400px;
    }
}

@media (max-width: 480px) {
    .banner {
        height: 300px;
    }
} */ 


