

.banner {
    position: relative;
    height: fit-content;
    background-image: url('/static/core/img/carrusel_bg.jpg');
    background-size: cover;
    background-position: center;
}

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}




.floating-alert {
    position: absolute;
    top: 0px; /* Ajusta este valor según la posición deseada */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Asegura que la alerta esté por encima de la imagen */
    width: 100%; /* Ajusta el ancho según tus necesidades */
}
