*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Opens Sans", sans-serif;
}

#navbarbody {
    font-family: "Opens Sans", sans-serif;
}



#navbarbody li {
    list-style: none;
}

.links li:last-child {
    margin-right: 0;
}

#navbarbody a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

#navbarbody a:hover {
    color: #026cb6;
}

#navbarbody header {
    position: relative;
    padding: 0 
}

#navbarbody .logo {
    width: 45px;
    margin-right: 10px;
}

#navbarbody .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;

}

#navbarbody .myNavbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    max-width: 2000px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 1000;
    transition: background-image 0.5s ease;
}

.myNavbar.scrolled {
    background-size: cover;
    background-position: center;    
}



#navbarbody .myNavbar .links {
    justify-content: flex-end;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 0;
}

#navbarbody .myNavbar .items {

    display: flex;
    gap: 1rem;
}

#navbarbody .myNavbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

#navbarbody .action_btn {
    color: white;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

#navbarbody .action_btn:hover {
    scale: 1.15;
    color: white;
}

#navbarbody .action_btn:active {
    scale: 0.95;
}

#navbarbody .dropdown_menu {
    display: none;
    position: absolute;
    z-index: 50;
    top: 60px;
    right: 2rem;
    height: 0;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.131);
    backdrop-filter: blur(15px);
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#navbarbody .dropdown_menu.open {
    height: 170px;
}

#navbarbody .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


#navbarbody .dropdown_menu .items {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#navbarbody .dropdown_menu .items a {
    margin-left: 10px;
}

.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: gray;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -18px;
    font-size: 10.5px;
}


/* responsive design */
@media (min-width: 1400px){
    #navbarbody .myNavbar {
        padding: 0 3rem;
    }
    
}

@media (max-width: 992px) {
    
    #navbarbody .myNavbar .links,
    #navbarbody .myNavbar .action_btn {
        display: none;
    }

    #navbarbody .myNavbar .toggle_btn {
        display: block;
    }

    #navbarbody .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    #navbarbody .dropdown_menu {
        width: unset;
        left: 2rem;
    }
}