.product-detail{
    margin: 100px 50px;
}

.product-gallery {
    margin: 100px 50px;
}

.product-image {
    max-width: 550px;
    height: auto;
}


.thumbnail-image {
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .2s;
}

.thumbnail-image:hover {
    transform: scale(1.1);
}

.product-detail .product-info {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.product-title {
    margin-top: 15px;
    font-size: 32px;

}

.product-price {
    margin-bottom: 20px;
}

.product-actions {
    display: flex;
    justify-content: space-between;
}

.buttons{
margin-left: 0;
}

.deseos {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #1e1e1e;
    border-radius: 50%;
    margin: 10px 10px 20px 0;
    color: beige;
    text-align: center;
    vertical-align: bottom;
    /* Centra el texto horizontalmente */
    line-height: 35px;
    /* Centra el texto verticalmente */
    font-size: 13px;
    /* Ajusta el tamaño de la fuente para que se vea bien dentro del círculo */
    cursor: pointer;
    user-select: none;
}

.cantidad label,
.cantidad span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #1e1e1e;
    border-radius: 50%;
    margin: 10px 10px 20px 0;
    color: beige;
    text-align: center;
    /* Centra el texto horizontalmente */
    line-height: 25px;
    /* Centra el texto verticalmente */
    font-size: 13px;
    /* Ajusta el tamaño de la fuente para que se vea bien dentro del círculo */
    cursor: pointer;
    user-select: none;
}

.cantidad span:hover, .deseos:hover {
    transform: scale(1.1);
    background: #383838;
}

.product-actions a:link,
.product-actions a:visited {
    color: #ececec;
    display: inline-block;
    text-decoration: none;
    background-color: #191919;
    padding: 1.2rem 2.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: 14px;
    transition: all 0.2s;
}

.comprar:hover {
    transform: scale(1.1);
}

.formulario {
    background-color: #eeeeee;
    padding: 30px;
    width: 80%;
    margin: 40px 100px;
    border-radius: 1rem;
}

.iti {
    position: relative;
    display: flex;
}

@media (min-width: 992px){
    .thumbnails {
        width: 20%;
    }
    .product-detail .product-info {
        margin-top: 150px;
    }
}