{% extends 'crud/base.html' %}

{% block title %}Asignaturas{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'crud/css/form-product.css' %}">
<link rel="stylesheet" href="{% static 'crud/css/detail.css' %}">

{% endblock %}

{% block first_content %}

<div class="container mycont">
    <div class="row">
        <div class="col col-md-7 col-lg-6">
            {% if producto.image %}
            <img class="img-fluid detail-img" src="{{producto.image.url}}" alt="">
            {% endif  %}

        </div>
        <div class="col col-lg-6">
            <div class="row">
                <div class="col-12">
                    <ul class="row list-unstyled">
                        <li class=" col-md-12 mb-2">
                            <h2> {{producto.product}}</h2>
                            </li>
                        <li class=" col-md-12 mb-2">Descripción: <p class="">{{producto.description}}</p></li>
                        <li class=" col-md-12 mb-2">Cámaras: <p class="">{{producto.cameras}}</p></li>
                        <li class=" col-md-12 mb-2">Canales: <p class="">{{producto.channels}}</p></li>
                        <li class="mb-2 text-muted fst-italic">Registrado: <p class="fw-bold">{{producto.created_at}}</p></li>
                        <li class="mb-2 text-muted fst-italic">Última actualización: <p class="fw-bold">{{producto.updated_at}}</p></li>
                    </ul>
                    <div class="row">
                        <div class="col-lg-1 col-md-3 me-md-2 me-lg-3">
                            <a class="btn btn-light" href="{% url 'product-list' %}">Volver</a>
                        </div>
                        <div class="col-lg-1 col-md-3 me-md-2 mx-lg-3">
                            <a class="btn btn-primary" href="{% url 'productlist-edit' id=producto.id  %}">Editar</a>
                        </div>
                        <div class="col-lg-1 col-md-3 me-md-2 mx-lg-3">
                            <a class="btn btn-danger modal-borrar" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-href="{% url 'productlist-delete' id=producto.id %}">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}
<script src="{% static 'crud/js/funciones.js' %}"></script>
{% endblock %}