{% extends 'crud/base.html' %}
{% block title %}Detalle del Pedido{% endblock %}


{% load static %}
{% block meta_extra %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'crud/css/form-product.css' %}">
<link rel="stylesheet" href="{% static 'crud/css/detail.css' %}">
{% endblock %}

{% block first_content %}
<div class="container mycont">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <!-- Columna 1: Detalles del Pedido -->
                <div class="col-md-6">
                    <h3>Detalle del Pedido #{{ order.id }}</h3>
                    <ul class="list-unstyled">
                        <li><strong>Cliente:</strong> {{ order.user }}</li>
                        <li class="flex-container">
                            <strong><label for="status">Estado:</label></strong>
                            <form method="post" action="{% url 'order-detail' order.id %}" id="status-form">
                                {% csrf_token %}
                                <select class="form-control" id="status" name="status">
                                    {% for key, value in order.STATUS_CHOICES %}
                                        <option value="{{ key }}" {% if order.status == key %}selected{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </li>
                        <li><strong>Fecha de creación:</strong> {{ order.created_at }}</li>
                        <li class="d-inline-flex"><strong>Total:&nbsp;</strong> <p class="product-price" data-price="{{ order.total }}">{{ order.total }}</p></li>
                    </ul>
                </div>
        
                <!-- Columna 2: Información del Cliente -->
                <div class="col-12 col-md-6">
                    <h3>Información del Cliente</h3>
                    <ul class="list-unstyled">
                        <li><strong>Teléfono:</strong> {{ order.user.phone_number }}</li>
                        <li><strong>Comuna:</strong> {{ order.user.comuna }}</li>
                        <li><strong>Correo:</strong> {{ order.user.email }}</li>
                        <li><strong>Género:</strong> {{ order.user.get_gender_display}}</li>
                        <li><strong>Edad:</strong> {{ age }}</li>
                </div>
            </div>

            <h4>Productos</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Imagen</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in detalles %}
                    <tr>
                        <td>{{ p.product }}</td>
                        <td>
                            {% if p.product.image %}
                            <img class="img-fluid myimg-order" src="{{ p.product.image.url }}" alt="">
                            {% else %}
                            <img class="img-fluid myimg-order" src="{% static 'crud/img/image_not_found.jpg' %}" alt="">
                            {% endif %}
                        </td>
                        <td>{{ p.quantity }}</td>
                        <td class="product-price" data-price="{{ p.subtotal }}>{{ p.subtotal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-light" href="{% url 'order-list' %}">Volver</a>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}
<script src="{% static 'crud/js/funciones.js' %}"></script>
{% endblock %}
